<gantabya-header></gantabya-header>
<div class="main-content">
    <div class="col-sm-8 ml-auto mr-auto">
        <form [formGroup]="eventForm" (ngSubmit)="createEvent(eventForm.value)" class="form-horizontal">
            <fieldset>
                <legend>Add A New Event</legend>

                <hr>

                <div class="form-group">
                    <label class="col-sm-4 control-label" for="name">Name of the Event</label>
                    <input formControlName="name" id="name" type="text" placeholder="Name of the event"
                           class="form-control input-md">
                    <div class="col-sm-8 ml-auto alert" *ngIf="(eventForm.controls['name'].touched || formSubmitted) && eventForm.controls['name'].invalid">Please enter a name.
                    </div>
                    <div class="col-sm-8 ml-auto alert" *ngIf="errors.includes('duplicate_name') && eventForm.controls['name'].pristine">There already exists an event with this name.
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-4 control-label" for="description">Description</label>
                    <input formControlName="description" id="description" type="text" placeholder="Description"
                           class="form-control input-md">
                    <div class="col-sm-8 ml-auto alert" *ngIf="(eventForm.controls['description'].touched || formSubmitted) && eventForm.controls['description'].invalid">Please enter a description for your event.
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-4 control-label" for="organizer">Organizer</label>
                    <input formControlName="organizer" id="organizer" type="text" placeholder="Organizer"
                           class="form-control input-md">
                    <div class="col-sm-8 ml-auto alert" *ngIf="(eventForm.controls['organizer'].touched || formSubmitted) && eventForm.controls['organizer'].invalid">Please enter the name of organizer.
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-4 control-label" for="date">Date</label>
                    <input formControlName="date" id="date" type="text" placeholder="Date"
                           class="form-control input-md">
                    <div class="col-sm-8 ml-auto alert" *ngIf="(eventForm.controls['date'].touched || formSubmitted) && eventForm.controls['date'].invalid">Please enter a date for the event.
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-4 control-label" for="imgUrl">Image Url</label>
                    <input formControlName="imgUrl" id="imgUrl" type="text" placeholder="Link to the event's featured image"
                           class="form-control input-md">
                    <div class="col-sm-8 ml-auto alert" *ngIf="(eventForm.controls['imgUrl'].touched || formSubmitted) && eventForm.controls['imgUrl'].invalid">Please enter a link to the image for the event.
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-4 control-label" for="submit"></label>
                    <div class="col-sm-4 ml-auto mr-auto submit-btn">
                        <button id="submit" name="submit" class="btn btn-primary">Create
                        </button>
                        <img *ngIf="loading"
                             src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>
                    </div>
                </div>

                <div class="col-sm-8 ml-auto alert errors" *ngIf="errors.length > 0">There were error/s while creating the event.
                </div>

                <div class="col-sm-8 ml-auto alert success" *ngIf="success">The event was successfully created.
                </div>

            </fieldset>
        </form>
    </div>
</div>
<gantabya-footer></gantabya-footer>




