.form-control {
  display: inline;
  width: 66%;
}
.alert {
  color: orangered;
  padding: 20px 0px 5px 5px;
}
.main-content {
  margin-top: 120px;
}
.submit-btn {
  padding-left: 5px;
}
.errors, .success {
  font-weight: 400;
  padding-top: 5px;
}
.errors {
  background: antiquewhite;
}
.success {
  background: lightblue;
  color: darkblue;
}
